<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/254b9bc8-a461-4644-8211-d521689ac964/resourceGroups/backendgailgir_group/providers/Microsoft.Web/sites/backendgailgir</ResourceId>
    <ResourceGroup>backendgailgir_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://backendgailgir.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>backendgailgir.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>backendgailgir</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$backendgailgir</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>